@CHARSET "UTF-8";

#logout-button{
	height: 30px;
	width: 30px;
	float: right;
	padding: 5px;
	margin-top: 10px;
}

.navbar{
	background-color: #ff8a5b;
	border-color: #ff8a5b;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: #f7ed6a;
}

nav.navbar.navbar-inverse {
  border-color: transparent;
 }

.navbar-inverse .navbar-nav>li>a{
	color: black;
}
.navbar-inverse:hover .navbar-nav>li>a:hover{
	color: #ff8a5b;
}

.navbar-inverse .navbar-brand {
	color:#f7c59f;
	
}

.navbar-brand:hover {
	color: #ff8a5b;
}

.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #f7c59f;
}

.btn-default:hover{
	background-color:#f7c59f;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	background-color: #f7c59f;
}