@CHARSET "UTF-8";


#main-div{
	margin-top: 5%;
}
.navbar{
	background-color: #ff8a5b;
	border-color: #ff8a5b;
}

.row{
	height: 1200px;
	width:  100%;
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif";
	background-color: #f7c59f;
}

.profile-image-container{
	padding: 5px;
	border-radius: 25px;
	border-width: 2px;
	margin: 40px 40px 40px 40px;
	margin-left: 80px;
	height: 200px;
	width: 200px;
	background: linear-gradient(-90deg, #fcad70,#f8e0ac );
	
}

#profile-image{
	border-radius: 25px;
	border-color: white;
	/* padding-left: 7px; */
	margin: 5%;
	height: 90%;
	width: 90%;
}

#fan-image{
	width: 100px; 
	height:100px; 
	margin:20px 50px 20px 100px;
	border-radius: 25px;
}

#name{
	font-size: 60px;
	margin-top: 60px;
	margin-left: -50px;
}

#username{
	font-size: 60px;
}

#savedRecipes{
	margin-left: 100px;
}
.header-container{
	height: 50px;
	width: 300px;
	background: linear-gradient(-90deg, #fcad70,#f8e0ac );
	margin-left: 90px;
	border-radius: 25px;
}

.header-container-upload{
	height: 50px;
	width: 400px;
	background: linear-gradient(-90deg, #fcad70,#f8e0ac );
	margin-left: 40px;
	border-radius: 25px;
}

.header-container-fans{
	height: 50px;
	width: 150px;
	background: linear-gradient(-90deg, #fcad70,#f8e0ac );
	margin-left: 200px;
	border-radius: 25px;
}

.header{
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: -20px;
}

.link-header{
	color: black;
}

.link-header:hover{
	color: white;
	text-decoration: none;
}

.recipe-container{
	background-color: #f0f5c2;
	border-radius: 25px;
	padding: 10px;
	margin: 10px;
}

.recipe-container-fans{
	background-color: #f0f5c2;
	border-radius: 25px;
	padding: 10px;
	margin: 10px;
	margin-left: 120px;
}

#followButton{
	float:right; 
	margin-top:2px;
	border-radius: 15px;
	text-decoration: none;
	margin-left: 30px;
	border: none;
	background-color: #f4bd9a;
}